build
dist
.docz
.github
node_modules
# Parsing error in cypress/commons/services/stubbing.js,
# remove this exception after migration to eslint 8 (with parser option "ecmaVersion": 2022)
cypress/commons/services/stubbing.js
cypress/reports
scripts/migration/src/*/templates
