name: Lint

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-node@v3.1.0
        with:
          node-version: '14'
      - run: yarn install && yarn eslint .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
