name: Deploy Storybook

on:
  push:
    branches:
      - feature/aip

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22  # same as project

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build Storybook
        run: yarn build-storybook --output-dir storybook-static

      - name: Disable Jekyll
        run: echo "" > storybook-static/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: storybook-static

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v3
