name: Tests

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn install && yarn test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
